.menu_main {
    border: 1px solid #282828;
    display: flex;
    background-color: #535353;
    position: absolute;
    font-family: 宋体;
    font-size: 12px;
}

.menu_main_V {
    border-radius: 5px 5px 0px 0px;
    flex-direction: column;
    width: 74px;
    height: auto;
}

.menu_main_H {
    border-radius: 5px 0px 0px 5px;
    flex-direction: row;
    width: auto;
    height: 72px;
}

.direction {
    display: flex;
}

.direction_V {
    justify-content: flex-end;
    border-bottom: 1px solid #282828;
}

.direction_H {
    align-items: flex-end;
    border-right: 1px solid #282828;
}

.direction_btn {
    background-repeat: no-repeat;
}

.direction_btn_V {
    background-image: url('./menu/rightArrow.png');
    width: 13px;
    height: 8px;
    margin-right: 5px;
}

.direction_btn_H {
    background-image: url('./menu/downArrow.png');
    width: 8px;
    height: 13px;
    margin-bottom: 5px;
    padding: 0px;
}

.title {
    color: #f5f5f5;
    justify-content: space-between;
    display: flex;
}

.title_V {
    height: 22px;
    flex-direction: row;
    border-bottom: 1px solid #282828;
    border-top: 1px solid #6a6a6a;
}

.title_H {
    width: 22px;
    flex-direction: column;
    border-right: 1px solid #282828;
    border-left: 1px solid #6a6a6a;
}

.menu_name {
    display: flex;
    width: 100%;
    cursor: move;
}

.menu_name_V {
    padding-left: 2px;
    height: 100%;
    border-right: 1px solid #282828;
    align-items: center;
}

.menu_name_H {
    padding-top: 2px;
    height: 80%;
    border-bottom: 1px solid #282828;
    text-align: center;
}

.close_mize {
    display: flex;
}

.close_mize_V {
    flex-direction: column;
    width: 20px;
    height: 100%;
    border-left: 1px solid #6a6a6a;
    line-height: 5px;
}

.close_mize_H {
    flex-direction: row;
    width: auto;
    height: 20%;
    border-top: 1px solid #6a6a6a;
    align-items: center;
}

.btUpStyle1 {
    background-color: transparent;
    border: none;
}

.btDownStyle1 {
    background-color: #373737;
    border-radius: 1px;
    border: 1px solid #282828;
}

.closeBtn {
    background-image: url('./menu/windowClose.png');
    background-repeat: no-repeat;
    flex: 1;
    width: 8px;
    height: 8px;
    background-position: center center;
}

.closeBtn_H {
    padding: 0px;
}

.mizeBtn {
    background-repeat: no-repeat;
    border: none;
    width: 8px;
    height: 8px;
    background-position: center center;
    flex: 1;
}

.mizeBtn_Maxi {
    background-image: url('./menu/windowMinimize.png');
}

.mizeBtn_Mini {
    background-image: url('./menu/windowMaximize.png');
}

.mizeBtn_H {
    padding: 0px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content_V {
    height: auto;
    border-top: 1px solid #6a6a6a;
    padding: 3px;
}

.content_H {
    width: auto;
    border-left: 1px solid #6a6a6a;
    padding: 4px;
    writing-mode: vertical-lr;
}

.btUpStyle2 {
    background-color: transparent;
    border: none;
}

.btDownStyle2 {
    background-color: #373737;
    border-radius: 2px;
    border: 1px solid #282828;
}

.cellBtn {
    background-position: center center;
    background-repeat: no-repeat;
    width: 30px;
    height: 24px;
}

.cellCheckbox {
    width: auto;
    height: 24;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    writing-mode: horizontal-tb;
}