.OuterArea {
  width: 500px;
  height: 400px;
  overflow: hidden;
}

.InnerArea {
  position: relative;
  width: 1200px;
  height: 1200px;
  background-image: linear-gradient(to right bottom, green, yellow, red);
}
